SPRING_PROFILES_ACTIVE=ACTIVE_SPRING_PROFILE

DB_NAME=DATABASE_NAME
DB_USERNAME=DATABASE_USERNAME
DB_PASSWORD=DATABASE_PASSWORD

JWT_SECRET=JWT_SECRET

MAIL_USERNAME=SENDER_EMAIL
MAIL_PASSWORD=SENDER_EMAIL_PASSWORD